<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
</head>
<body>

	<div id="info"></div>

	<form id="questionForm" name="questionForm"></form>
	
	<script>

		// Waiting message
		var waitingMsg = '<p>Waiting for other players.</p>';
		waitingMsg += '<p>Be ready !</p>';
		
		// Display the waiting message
		$("#info").html(waitingMsg);
		
		// Initialize the game to the first question
		var questionNumber = 1;
		
		// Timeout for the player to answer the question
		var answer_timeout;
		
		// Register a callback function for the question form
		$("#questionForm").submit(function(event) {

			// stop form from submitting normally
			event.preventDefault(); 
			
			// stop the timeout
			clearTimeout(answer_timeout);
			
			var	answer = $('input:radio[name=answer]:checked').val();
			
			$.ajax({
				url :  '/api/answer/' + questionNumber,
				data : '{ "answer" : ' + answer +' }',
				type : 'POST',
				dataType: 'json',
				success: function(data, textStatus, jqXHR) {
					answer_callback(data, textStatus, jqXHR);
				}
			});						
		});
		
		// is the game finished so that we can ask for the ranking ?
		var ranking_authorized = false;
		var ranking_interval;
		
		// Start the game
		ask_question();
	
	
	
		function ask_question() {
			
			if(questionNumber <= %NB_QUESTIONS%) {
			
				$.ajax({
					url: '/api/question/' + questionNumber,
					type: 'GET',
					dataType: 'json',
					success: function(data, textStatus, jqXHR) {
						question_callback(data, textStatus, jqXHR);
					}
				});
			} else {
				// try to call the ranking until we are allowed to
				ranking_interval = setInterval("call_ranking()", %RANKING_WAITING_TIME%);
			}
		}
		
		function call_ranking() {
		
			if(ranking_authorized){
		
				ranking_interval(ranking_timeout);
		
				$.ajax({
					url: '/api/ranking',
					type: 'GET',
					dataType: 'json',
					success: function(data, textStatus, jqXHR) {
						ranking_callback(data, textStatus, jqXHR);
					}
				});
			} else {
				// do nothing
			}
		}
		
		
		function ranking_callback(data, textStatus, jqXHR) {
			
			var ranking = '';
			
			var score = data['score'];
			ranking += '<p>Your score : ' + score + ' points</p>';
			
			ranking += '<p> The 100 first users are : <br/>';
			ranking += render_ranking(data['top_scores']);
			ranking += '</p>';
			
			ranking += '<p> The 50 users before me are : <br/>';
			ranking += render_ranking(data['before']);
			ranking += '</p>';
			
			ranking += '<p> The 50 users after me are : <br/>';
			ranking += render_ranking(data['after']);
			ranking += '</p>';
		
			$("#info").html(ranking);
			$("#questionForm").html("");
		}
		
		
		function render_ranking(users) {
			var firstnames = users['firstnames'];
			var lastnames = users['lastnames'];
			var scores = users['scores'];
			
			var ranking = '';
			
			var n = scores.length;
			for(var i=0; i<n; i++) {
				ranking += firstnames[i] + ' ' + lastnames[i] + ' : ' + scores[i] + '<br/>';
			}
			
			return ranking
		}
		
		
		function question_callback(data, textStatus, jqXHR) {
					
			var sform = data["question"] + " :<br/>";
			for (var i = 1;; i++) {
				var answer = "answer_" + i;
				
				if(data[answer]){
					sform += "<input type=\"radio\" name=\"answer\" value=\"" 
							 + i + "\">" + data[answer] + "<br/>";
				} else {
					break;
				}
			}
			sform += '<input type="submit" value="OK"/>';
			
			
			$("#info").html("");			
			$("#questionForm").html(sform);
			
			
			// Set a local timeout (in milliseconds) for the request.
			answer_timeout = setTimeout("timeout_callback()", %QUESTION_TIMEOUT%);	
			
			if(questionNumber = %NB_QUESTIONS%) {
				// Last question, launch the timeout to authorize the ranking of the users
				setTimeout(function() { ranking_authorized = true; }, %RANKING_WAITING_TIME%);
			}
		}
		
		
		function timeout_callback() {
			
			var msg = "<p>You've been to slow to answer. Going to the next question.</p>";
			
			$("#info").html(msg);
			$("#questionForm").html("");
			
			questionNumber++;
			ask_question();
		}
		
	
		function answer_callback(data, textStatus, jqXHR) {
			
			var ok = data['are_u_ok'];
			//var good_answer = data["good_answer"];
			var score = data['score'];
			
			var okMsg = ok ? 'Good' : 'Bad';		
			var resultMsg = '<p>' + okMsg + ' answer !<br/>';
			resultMsg += 'Your score : ' + score + ' points</p>';
			
			$("#info").html(resultMsg + waitingMsg);
			$("#questionForm").html("");
			
			questionNumber++;
			ask_question();
		}
	
	</script>
</body>
</html>
