<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
</head>
<body>

	<div id="info"></div>

	<form id="questionForm" name="questionForm"></form>
	
	<script>

		// Waiting message
		var waitingMsg = '<p>Waiting for other players.</p>';
		waitingMsg += '<p>Be ready !</p>';
		
		// Display the waiting message
		$("#info").html(waitingMsg);
		
		// Initialize the game to the first question
		var questionNumber = 1;
		
		// Start the game
		ask_question();
	
		function ask_question() {
			
			if(questionNumber <= %NB_QUESTIONS%) {
			
				$.ajax({
					url: '/api/question/' + questionNumber,
					type: 'GET',
					dataType: 'json',
					success: function(data, textStatus, jqXHR) {
						question_callback(data, textStatus, jqXHR);
					}
				});
			} else {
				$.ajax({
					url: '/api/ranking',
					type: 'GET',
					dataType: 'json',
					success: function(data, textStatus, jqXHR) {
						ranking_callback(data, textStatus, jqXHR);
					}
				});
			}
			
		}
		
		function ranking_callback(data, textStatus, jqXHR) {
			
			var ranking = '';
			
			var score = data['score'];
			ranking += '<p>Your score : ' + score + ' points</p>';
			
			ranking += '<p> The 100 first users are : <br/>';
			ranking += render_ranking(data['top_scores']);
			ranking += '</p>';
			
			ranking += '<p> The 50 users before me are : <br/>';
			ranking += render_ranking(data['before']);
			ranking += '</p>';
			
			ranking += '<p> The 50 users after me are : <br/>';
			ranking += render_ranking(data['after']);
			ranking += '</p>';
		
			$("#info").html(ranking);
			$("#questionForm").html("");
		}
		
		
		function render_ranking(users) {
			var firstnames = users['firstnames'];
			var lastnames = users['lastnames'];
			var scores = users['scores'];
			
			var ranking = '';
			
			var n = scores.length;
			for(var i=0; i<n; i++) {
				ranking += firstnames[i] + ' ' + lastnames[i] + ' : ' + scores[i] + '<br/>';
			}
			
			return ranking
		}
		
		
		function question_callback(data, textStatus, jqXHR) {
					
			var sform = data["question"] + " :<br/>";
			for (var i = 1;; i++) {
				var answer = "answer_" + i;
				
				if(data[answer]){
					sform += "<input type=\"radio\" name=\"answer\" value=\"" 
							 + i + "\">" + data[answer] + "<br/>";
				} else {
					break;
				}
			}
			sform += '<input type="submit" value="OK"/>';
			
			
			$("#info").html("");			
			$("#questionForm").html(sform);
				
			
			$("#questionForm").submit(function(event) {

				// stop form from submitting normally
				event.preventDefault(); 
			
				var	answer = $('input:radio[name=answer]:checked').val();
			
				$.ajax({
					url :  '/api/answer/' + questionNumber,
					data : '{ "answer" : ' + answer +' }',
					type : 'POST',
					dataType: 'json',
					success: function(data, textStatus, jqXHR) {
						answer_callback(data, textStatus, jqXHR);
					}
				});
						
			});
			
		}
	
		function answer_callback(data, textStatus, jqXHR) {
			
			var ok = data['are_u_ok'];
			//var good_answer = data["good_answer"];
			var score = data['score'];
			
			var okMsg = ok ? 'Good' : 'Bad';		
			var resultMsg = '<p>' + okMsg + ' answer !<br/>';
			resultMsg += 'Your score : ' + score + ' points</p>';
			
			$("#info").html(resultMsg + waitingMsg);
			$("#questionForm").html("");
			
			questionNumber++;
			ask_question();
		}
	
	</script>
</body>
</html>
